
megogo.xcodeproj/project.xcworkspace/contents.xcworkspacedata

megogo.xcodeproj/project.xcworkspace/xcuserdata/elag.xcuserdatad/UserInterfaceState.xcuserstate

megogo.xcodeproj/xcuserdata/elag.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

megogo.xcodeproj/xcuserdata/elag.xcuserdatad/xcschemes/megogo.xcscheme

megogo.xcodeproj/xcuserdata/elag.xcuserdatad/xcschemes/xcschememanagement.plist
